<form>
    <div class="mb-3">
      <label>Email address</label>
      <input  name="emailAdress" #fName="ngModel" [(ngModel)]="userObj.emailAddress" class="form-control" type="email" required minlength="3">
      <div class="text-danger"></div>
      <div >We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label >Password</label>
      <input name="password" [(ngModel)]="userObj.password" class="form-control" type="password">
    </div>
    <div class="mb-3 form-check">
      <input name="isCheck" [(ngModel)]="userObj.isCheck" type="checkbox">
      <label >Check me out</label>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSave()">Submit</button>
  </form>